.MuiFormHelperText-root {
  color: red !important;
}
.upload-avatar{
  display: none;
}
.avatar-upload{
  width: 240px !important;
  height: 240px !important;
  margin-bottom: 15px;
}

.preloader-in-front{
  z-index: 16000 !important;
}
